<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="SR Severn">

    <title>
        {% if page.title %}
        {{ page.title }} -
        {% endif %} S.R. Severn Books - Official Website</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="/css/business-casual.css" rel="stylesheet">
  </head>

  <body>
  
    <div class="brand srsevern">S.R. Severn</div>
    <div class="address-bar">Official Author Website</div>

    <nav class="navbar navbar-default srsevern" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="../index.html">S.R. Severn homepage </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Amazon UK</a>
              <ul class="dropdown-menu">
                  <li><a href="http://www.amazon.co.uk/dp/B00IK8EJ8I">Kindle edition</a></li>
                  <li><a href="http://www.amazon.co.uk/dp/1495242129/">Paperback</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Amazon US</a>
              <ul class="dropdown-menu">
                  <li><a href="http://www.amazon.com/dp/B00IK8EJ8I">Kindle edition</a></li>
                  <li><a href="http://www.amazon.com/dp/1495242129/">Paperback</a></li>
              </ul>
            </li>
            <li><a href="/index.html" class="{% if page.url =='/index.html' %} current {% endif %}">Home</a></li>
            <li><a href="/about.html" class="{% if page.url =='/about.html' %} current {% endif %}">About</a></li>
            <li><a href="/blog.html" class="{% if page.url =='/blog.html' %} current {% endif %}">Blog</a></li>
            <li><a href="/contact.html" class="{% if page.url =='/contact.html' %} current {% endif %}">Contact</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav>
